<body>
<div id="preloader">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
</div>

<header class="header_area">
    <div class="container">
        <div class="header_content">
            <div class="row">
                <%- include("../template/logo.ejs") %>
                <div class="col-md-9 col-sm-10 nav_area">
                    <%- include("../template/menu.ejs") %>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="breadcrumb_area">
    <div class="breadcrumb_top">
        <div class="container">
            <div class="row">
                <div class="breadcrumb_title section-padding">
                    <h2>404</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcrumb_bottom">
        <div class="container">
            <div class="row">
                <div class="breadcrumb_nav">
                    <div class="col-sm-5">
                        <h2>404</h2>
                    </div>
                    <div class="col-sm-7">
                        <ul>
                            <li><a href="/">Главная</a></li>
                            <li>404</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="not_found_404_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="not_found404">
                    <h1>404</h1>
                    <h2>Страница не найдена</h2>
                    <h3>Ссылка направила Вас на несуществующую или удаленную страницу</h3>
                </div>
            </div>
        </div>
    </div>
</section>



</body>