<div class="row">
  <div class="col s12">Выберите город</div>
  <div class="col s6">
    <form class="city">
      <p>
        <label>
          <input name="group1" type="radio" value="Москва" />
          <span>Mocква</span>
        </label>
      </p>
      <p>
        <label>
          <input name="group1" type="radio" value="Воронеж" />
          <span>Воронеж</span>
        </label>
      </p>

      <p>
        <label>
          <input name="group1" type="radio" value="Краснодар" />
          <span>Краснодар</span>
        </label>
      </p>
      <p>
        <label>
          <input name="group1" type="radio" value="Сочи" />
          <span>Сочи</span>
        </label>
      </p>
      <p>
        <label>
          <input name="group1" type="radio" value="Казань" />
          <span>Казань</span>
        </label>
      </p>

    </form>
  </div>
  <div class="col s6" id="info">
    <table id="report-data">
      <thead>
      <tr>
        <th>Атрибут</th>
        <th>Значение</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
