<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <meta charset="UTF-8">
  <title>Погода</title>
</head>
<body>
<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Приложение получения данных о погоде</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="sass.html">Netology</a></li>
      <li><a href="badges.html">lesson 4</a></li>
      <li><a href="collapsible.html">Node Js</a></li>
    </ul>
  </div>
</nav>