<body>
    <div id="preloader">
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    </div>
    <header class="header_area">
      <div class="container">
        <div class="header_content">
          <div class="row">
            <%- include("../template/logo.ejs") %>
            <div class="col-md-9 col-sm-10 nav_area">
              <%- include("../template/menu.ejs") %>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="key_to_success_area">
      <div class="container">
        <div class="row">
          <div class="key_to_success">
            <div class="col-md-7">
              <div class="key2seccess_txt">
                <h2>ОБРАЗОВАНИЕ - КЛЮЧ К ВАШЕМУ УСПЕХУ</h2>
                <p>Любите увлекательные книги и узнавать новое, мы ждали Вас. </p>
              </div><
            </div>
            <div class="col-md-5 hidden-sm hidden-xs">
              <div class="key2seccess_photo">
                <img src="img/header_bottom_photo.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</body>