<footer class="footer_area">

    <div class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <p>2021 Sergey Chernyshov © NETOLOGY</p>
                </div>
            </div>
        </div>
    </div>
</footer>