<nav class="main_menu">
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li <%=menu=='home'?'class=current_page_item':''%>>
                <a href="/">Главная</a>
            </li>
            <li <%=menu=='books'?'class=current_page_item':''%>>
                <a href="/index">Книги</a>
            </li>
            <li <%=menu=='create'?'class=current_page_item':''%>>
                <a href="/create">Добавить</a>
            </li>
            <li <%=menu=='about'?'class=current_page_item':''%>>
                <a href="#">О проекте</a>
            </li>
        </ul>
    </div>
</nav>