<nav class="main_menu">
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="current_page_item"><a href="/">Главная</a></li>
            <li><a href="#">Книги</a></li>
            <li><a href="#">Добавить</a></li>
            <li><a href="#">Новинки</a></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="/login">Вход/Регистрация</a></li>
        </ul>
    </div>
    <!--<form action="index.html" class="header_search hidden-xs">
        <input type="text" placeholder="Search">
        <input type="submit" value="">
    </form>-->
</nav>